# ignore backup files / hidden files
*.hidden
*.swp
*~*

# ignore distribution files
dist/
bin/
ivil.jar

# ignore module intermed files
modules/core/genSrc/
modules/core/classes/
modules/cmd/classes/
modules/gui/classes/
modules/exp/classes/
javadoc/

# directories which might exist:
modules/core/classes7/
tmp/
