# ignore backup files / hidden files
*.hidden
*.swp
*~*
.*/*

# ignore distribution files
dist/
bin/
ivil.jar

# log files
log4j.log*

#doxygen
docwarn
doxyfile

#properties
ivil.properties
VERSION

# ignore module intermed files
modules/core/genSrc/
modules/core/classes/
modules/core/classes-test/
modules/boogie/genSrc/
modules/boogie/classes/
modules/boogie/classes-test/
modules/cmd/classes/
modules/cmd/classes-test/
modules/gui/classes/
modules/gui/classes-test/
modules/algo/classes/
modules/algo/classes-test/
modules/algo/genSrc/
modules/exp/classes/
modules/exp/classes-test/
modules/exp/genSrc/
javadoc/
modules/*/TEST-*

# directories which might exist:
modules/core/classes7/
tmp/
